<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <h3>What is Diabetes?</h3>
    <ul>
        <li> It's when the body cant produce or properly use insulin.</li>
        <li>Insulin is responsible for regulating the Sugar in the blood.</li>
        <li>Too much sugar in the blood can cause organ and nerve damage.</li>
        <li>11 million Canadians are living with some form of diabetes.</li>
        <li>That is about 1/3 of all Canadians.</li>
    </ul>

    <br />

    <h2> Types of diabetes </h2>
    <h3>Type 1</h3>
    <ul>
        <li>It's an autoimmune disease.</li>
        <li>It prevents production of insulin.</li>
        <li>Develops in childhood, but can sometimes develop in adulthood</li>
        <li>Around 10% of all diabetes cases</li>
    </ul>
    <h3>Type 2</h3>
    <ul>
        <li>Insulin produced isn't used properly or isn't in sufficient quantity.</li>
        <li>It can be managed with proper diet and exercise, however may also require medication.</li>
        <li>Mostly appears in adulthood, but can sometimes develop in childhood.</li>
        <li>About 90% of all diabetes.</li>
    </ul>
    <h3>Gestational Diabetes</h3>
    <ul>
        <li>Is a temporary form of diabetes.</li>
        <li>Occurs during pregnancy.</li>
        <li>Somewhere between 3-20% of pregnant woman develop it.</li>
    </ul>

    <br />

    <h3>Risks of having diabetes</h3>
    <ul>
        <li>Kidney disease</li>
        <li>Retinopathy</li>
        <li>Stroke</li>
        <li>Anxiety</li>
        <li>Nerve damage</li>
        <li>Amputation</li>
        <li>Erectile Dysfunction</li>
    </ul>

    <br />

    <h3> Risk Factors </h3>
    <ul>
        <li>Overweight/Obese, "Chance to develop diabetes doubles for every 20% increase over desirable body weight."
        </li>
        <li>Sedentary lifestyle</li>
        <li>Family hisory</li>
        <li>High blood pressure</li>
        <li>Low levels of HDL cholesterol</li>
    </ul>

    <br />

    <h3>Symptoms of diabetes</h3>
    <ul>
        <li>Extreme thirst</li>
        <li>Weight loss</li>
        <li>Hunger</li>
        <li>Exhaustion</li>
        <li>Skin problems</li>
        <li>Slow to heal</li>
        <li>Increased trips to the washroom</li>
        <li>Yeast infection</li>
        <li>Numbness of the extremitites</li>
        <li>Nausea</li>
        <li>Vomitin</li>
        <li>Frequent infections</li>
    </ul>
</body>

</html>